:root {
    --ltr-effect: #333;
    --header-sticky-co: #000;
    --toggle-co: #f0edf1;
    --white-text: #fff;
    --black-bg: #000;
    --white-bg: #fff;
    --black-text: #000;
    --portf-bg: #f9f9f9;
    --body-bg: transparent;
    --layer-content: rgba(0,0,0,0.6);
    --shod-toggle: #a7aaaf;
    --white-bg-mob: rgb(211, 211, 211);
}
.dark {
    --body-bg: rgb(0, 0, 0);
    --ltr-effect: rgba(153, 153, 153, 0.37);
    --header-sticky-co: #fff;
    --toggle-co: gray;
    --white-text: #000;
    --black-bg: #fff;
    --white-bg: #000;
    --black-text: #fff;
    --portf-bg: #111111;
    --layer-content: rgba(255,255,255,0.6);
    --shod-toggle: #252627;
    --white-bg-mob: rgb(36, 36, 36);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color 0.25s , background-color 0.5s;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Varela Round', sans-serif;
    background-color: var(--body-bg);
}
.container {
    width: 80%;
    margin: auto;
}
h1,h2,h3,h4,h5,h6 {
    font-family: monospace,sans-serif;
}
button {
    font-family: inherit;
}
a {
    text-decoration: none;
}
.pd-y {
    padding: 120px 0;
}
.section-header {
    text-align: center;
    margin-bottom: 20px;
}
.section-header .section-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px; 
    color: var(--black-text);
}
.section-header .line {
    display: block;
    width: 60px;
    height: 5px;
    margin: 0 auto 70px;
    background-color: #6195ff;
}
.ltr-effect, .tb-effect{
    position: relative;
}
.ltr-effect::after, .tb-effect::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: var(--ltr-effect);
    z-index: -1;
}
.ltr-effect::after {
    width: 0;
    height: 100%;
    transition: width 0.5s;
}
.ltr-effect:hover::after {
    width: 100%;
}

.tb-effect::after {
    width: 100%;
    height: 0;
    transition: height 0.5s;
}
.tb-effect:hover::after {
    height: 100%;
}


/* Header Section */
.header {
    position: fixed;
    width: 100%;
    z-index: 50;
    transition: all 0.5s;
}
.header .logo {
    width: 25%;
    float: left;
}
.header .logo img {
    width: 50%;
    margin-top: 15px;
}
.header .logo img.black {
    display: none;
}
.header .nav {
    width: 75%;
    float: left;
    list-style: none;
    text-align: right;
    z-index: 20;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.clear {
    clear: both;
}
.header .nav > li {
    display: inline-block;
    text-align: right;
}
.header .nav > li > a {
    color: #fff;
    display: block;
    padding: 30px 10px;
    font-size: 17px;
    transition: all 0.5s;
    white-space: nowrap;
}
.header .nav > li > a::after,
.header .nav > li > a.active::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #6195ff;
    transition: width 0.7s;
    margin-top: 3px;
}
.header .nav > li > a::after {
    width: 0;
}
.header .nav > li > a.active::after {
    width: 100%;
}
.header .nav > li > a:hover::after{
    width: 100%;
}
.header.sticky {
    background-color: var(--white-bg-mob);
}
.header.sticky .logo img.black {
    display: block;
    margin-top: 0;
    width: 35%;
}
.header .container > input[id="check"], label[for="check"] {
    display: none;
}
.dark .header.sticky .logo img.black {
    display: none;
}
.dark .header.sticky .logo img.white {
    display: block;
    margin-top: 0;
    width: 35%;
}
.header.sticky .logo img.white {
    display: none;
}
.header.sticky .nav > li > a {
    padding: 10px 10px;
    color: var(--header-sticky-co);
}
.header.sticky .nav > li > a.active {
    color: #6195ff;
}
.dropdown {
    position: relative;
}
.dropdown-meun {
    position: absolute;
    background-color: #6195ff;
    width: 150px;
    text-align: center;
    left: -50%;
    top: 80%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s , visibility 0.5s;
    list-style: none;
}
.dropdown-meun a {
    display: block;
    color: #fff;
    padding: 10px;
    text-transform: capitalize;
}
.dropdown:hover .dropdown-meun {
    opacity: 1;
    visibility:visible;
}

.toggle {
    width: 60px;
    height: 30px;
    border: 0.1px solid var(--toggle-co);
    border-radius: 100px;
    background-color: var(--toggle-co);
    box-shadow: inset 10px 10px 15px var(--shod-toggle), inset -10px -10px 15px var(--toggle-co);
    position: relative;
    float: right;
    margin-top: -5px;
}

.toggle .icon {
    width: 20px;
    height: 20px;
    margin: 5px 8px;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 3px #fff,
                4px 4px 7px var(--shod-toggle),
                -4px -4px 7px #fff;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: all 0.4s;
}
.toggle .moon {
    opacity: 0;
}
.toggle input {
    opacity: 0;
    width: 60px;
    height: 20px;
    cursor: pointer;
}
input[id="check"] {
    display: none;
}

.toggle input:checked + label .moon {
    opacity: 1;
}
.toggle input:checked + label .sun {
    opacity: 0;
}

.toggle input:checked + label .icon {
    transform: translateX(22px) rotate(360deg);
}
/* Home Section */
.home {
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    position: relative;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.home-content {
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.home .title {
    color: #fff;
    font-size: 3.5rem;
    letter-spacing: 2px;
    word-spacing: -15px;
}
.home .home-desc {
    margin: 20px 0;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.5;
}
.home .btn {
    min-width: 160px;
    padding: 15px 0;
    border: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}
.home .btn-start {
    margin-right: 10px;
    background-color: #fff;
}
.home .btn-learn {
    background-color: #6195ff;
    color: #fff;
}
.hover-opacity{
    transition: opacity 0.5s;
}
.hover-opacity:hover{
    opacity: 0.7;
}



/* About Section */
.about-content {
    overflow: hidden;
}
.about-item {
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px;
}
.about-item.mg {
    margin: 0 5%;
}
.about-item .icon {
    color: #6195ff;
    margin-bottom: 10px;
}
.about-item-title {
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
    color: var(--black-text);
}
.about-item:hover .about-item-title {
    color: var(--white-text);
}
.about-item-desc {
    line-height: 1.6;
    margin-bottom: 10px;
    color: #899;
}
.about-item-link {
    color: #6195ff;
    text-transform: capitalize;
}

/* Portfolio Section */

.portfolio {
    background-color: var(--portf-bg);
}
.portfolio-content {
    overflow: hidden;
}
.portfolio-item {
    width: 32%;
    float: left;
    margin-bottom: 2%;
    position: relative;
    padding: 20px;
}
.portfolio-item img {
    width: 100%;
}
.portfolio-item.mg {
    margin: 0 2%;
}
.portfolio-item .layer-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--layer-content);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}
.portfolio-item:hover .layer-content {
    opacity: 1;
    visibility: visible;
}
.portfolio-item .layer-content .layer-info {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.layer-content .category {
    color: #6195ff;
    text-transform: uppercase;
    display: block;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.2s;

}
.layer-content-title {
    font-size: 20px;
    color: var(--white-text);
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.3s;
}
.layer-content a i {
    line-height: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.4s;
}
.layer-content a {
    color: var(--white-text);
    
}
.layer-content:hover .category,
.layer-content:hover .layer-content-title,
.layer-content:hover a i {
    top: 0;
    opacity: 1;
}

/* Offer Section */
.offer-content {
    overflow: hidden;
}
.offer-item {
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
    position: relative;
}
.offer-item.mg {
    margin: 0 5%;
}
.offer-item .icon {
    position: absolute;
    top: 35px;
    left: 15px;
    color: #6195ff;
}
.offer-item-title {
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color 0.5s;
    color: var(--black-text);
}
.offer-item-desc {
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #899;
}
.offer-item:hover .offer-item-title {
    color: var(--white-text);
}

/* Services Section */

.services {
    background-color: var(--portf-bg);
}
.services-item {
    width: 50%;
    float: left;
}
.services-item .section-header {
    text-align: left;
}
.services-item .section-header .line {
    margin: 0 0 50px 0;
}
.services-item-desc {
    padding-right: 20px;
    line-height: 1.5;
    font-size: 17px;
    color: #899;
    margin-bottom: 20px;
}
.services-list {
    list-style: none;
}
.services-list li {
    margin-bottom: 10px;
    color: #999;
}
.services-list li i {
    border: 1px solid #6195ff;
    color: #6195ff;
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 50%;
}
.services-item-img img {
    width: 100%;
    transition: transform 0.5s, filter 0.5s;
}
.services-item-img:hover img {
    filter: brightness(0.5);
    transform: scalex(1.1);
    border: 1px solid #000;
}
.services-boliets {
    list-style: none;
    text-align: center;
}
.services-boliets li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    margin: 10px 5px;
    border-radius: 50%;
    cursor: pointer;
}
.services-boliets li.active,
.services-boliets li:hover {
    background-color: #6195ff;
}

/* Number Section */

.numbers {
    position: relative;
    background-image: url("../images/background/background2.webp");
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}
.numbers .overlay {
    background-color: rgba(0, 0, 0, 0.8);
}
.numbers .numbers-items {
    overflow: hidden;
    padding: 100px 0;
}
.number-item {
    width: 25%;
    float: left;
    text-align: center;
}
.number-item .icon {
    color: #6195ff;
    margin-bottom: 15px;
}
.number-item-title {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.number-item-text {
    color: #fff;
    text-transform: capitalize;
}

/* Prices Section */
.prices-plan {
    display: flex;
    justify-content: space-between;
}
.pricing-item {
    width: 30%;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
}
.pricing-item-text {
    text-transform: uppercase;
    font-size: 17px;
    color: #999;
    transition: color 0.5;
}
.pricing-item-price {
    width: 130px;
    height: 130px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #6195ff;
    border-radius: 50%;
    color: var(--black-text);
    transition: color 0.5s;
}
.pricing-item-price .dolor {
    font-size: 50px;
    letter-spacing: -5px;
}
.pricing-item-price .month {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}
.pricing-list {
    list-style: none;
}
.pricing-list li {
    color: #999;
    line-height: 1.8;
}
.pricing-item-btn {
    background-color: transparent;
    border: 2px solid #6195ff;
    display: block;
    width: 140px;
    padding: 10px 5px;
    margin: 15px auto 0;
    color: #6195ff;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 16px;
}
.pricing-item:hover .pricing-item-price {
    color: var(--white-text);
}
.pricing-item:hover .pricing-item-text {
    color: #6195ff;
}

.testimonial {
    position: relative;
    background-image: url("../images/background/background3.webp");
    background-attachment: fixed;
    height: 450px;
    color: #fff;
}
.testimonial-content {
    padding: 100px 50px;

}
.testimonial-content .container {
    display: flex;
    justify-content: space-between;
}
.testimonial-item {
    width: 50%;
}
.testimonial-top {
    padding: 25px 0 30px 90px;
    position: relative;
    text-transform: capitalize;
}
.testimonial-top img {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}
.testimonial-top h3 {
    margin-bottom: 5px;
    font-size: 25px;
}
.testimonial-top span {
    color: #6195ff;
    font-weight: bold;
}
.testimonial-desc {
    line-height: 1.5;
    font-size: 17px;
    width: 95%;
}

/* Team Section */
.team-content {
    display: flex;
    justify-content: space-between;
}
.team-item {
    width: 30%;
    background-color: var(--portf-bg);
    padding: 20px 15px;
    text-align: center;
}
.team-img {
    width: 95%;
    margin: auto;
    position: relative;
}
.team-img img {
    width: 100%;
}
.team-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.team-overlay a {
    margin-left: auto;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    color: #fff;
    transition: background-color 0.5s;
}
.team-overlay a:hover {
    background-color: #286fff;
}
.team-overlay a i {
    line-height: 40px;
}
.team-info-title {
    color: var(--black-text);
    margin: 10px 0;
    text-transform: capitalize;
    transition: color 0.5s;
}
.team-info-text {
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.5s;
}
.team-item:hover .team-overlay {
    visibility: visible;
    opacity: 1;
}
.team-item.tb-effect {
    z-index: 1;
}
.team-item:hover .team-info-title {
    color: var(--white-text);
}
.team-item:hover .team-info-text {
    color: #6195ff;
}

/* Blog Section */
.blog.pd-y {
    padding-top: 50px;
    background-color: var(--portf-bg);
}
.blog-content {
    display: flex;
    justify-content: space-between;
}
.blog-item {
    width: 30%;
    background-color: var(--white-bg);
    color: var(--black-text);
}
.blog-item-img {
    overflow: hidden;
}
.blog-item-img img {
    width: 100%;
    transition: transform 1s;
}
.blog-item-img img:hover {
    transform: scale(1.2) rotate(5deg);
}
.blog-info {
    padding: 15px;
}
.blog-list {
    margin: 10px 0;
    list-style: none;
}
.blog-list li {
    display: inline-block;
    margin: 0 5px;
    text-transform: capitalize;
}
.blog-list li i {
    color: #6195ff;
}
.blog-title  {
    font-weight: bold;
    margin: 20px 0;
}
.blog-desc {
    color: #999;
    margin-bottom: 10px;
    line-height: 1.5;
}
.blog-link {
    color: #6195ff;
    text-transform: capitalize;
    font-weight: bold;
}

/* Blog Page */ 
.page-title {
    width: 100%;
    padding: 100px 0 50px;

}
.page-title .page-content {
    padding: 40px 0;
    background-color: var(--portf-bg);

}
.page-title .page-content .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;

}
.page-title h1 {
    text-transform: capitalize;
    font-size: 2em;
    color: var(--black-text);
}
.breadcrumb {
    list-style: none;
}
.breadcrumb li {
    display: inline-block;
    text-transform: capitalize;
    color: var(--black-text);
}
.breadcrumb li+li::before {
    content: "/ ";
    color: #6195ff;
}
.breadcrumb li a {
    color: #286fff;
}
.breadcrumb li a:hover {
    color: #6195ff;
    text-decoration: underline;
}

.content .container {
    display: flex;
    justify-content: space-between;
}
.content .container .left {
    width: 69%;
}
.content .container .right {
    width: 29%;
}
.page-img img {
    width: 100%;
}
.content .container .left .blog-list,
.content .container .left .blog-title,
.content .container .left .blog-desc {
    margin: 25px 0;
}
.content .container .left .blog-desc {
    margin-bottom: 60px;
}
.content .container .left .blog-list, 
.content .container .left .blog-title {
color: var(--black-text);
}
.tags {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    margin-bottom: 50px;
}
.tags h3 {
    text-transform: capitalize;
    color: var(--black-text);
}
.tag-items {
    list-style: none;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}
.tag-items li {
    margin: 10px;
}
.tag-items li a {
    text-transform: capitalize;
    color: var(--black-text);
    font-weight: bold;
    font-size: 14px;
}
.tag-items li a i {
    color: #6195ff;
}
.tag-items li a:hover {
    color: #6195ff;
}
.info-user {
    display: flex;
    border: 1px solid #e8e8e8;
    background-color: var(--portf-bg);
    padding: 20px 0;
}
.info-user .img-user {
    width: 25%;
}
.info-user .img-user img {
    width: 80%;
    margin: 5% 10%;
}
.info-user .data-user {
    width: 70%;

}
.info-user .data-user .contact-user {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 25px;
}
.info-user .data-user .contact-user h2 {
    text-transform: uppercase;
    font-size: 26px;
    color: var(--black-text);
}
.info-user .data-user .contact-user .icons {
    display: flex;
    list-style: none;
}
.info-user .data-user .contact-user .icons li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #6195ff;
    color: #fff;
    margin: 0 5px;
    text-align: center;
    border-radius: 5px;
}
.info-user .data-user .contact-user .icons li a i {
    line-height: 30px;
}
.info-user .data-user .contact-user .icons li a:hover {
    background-color: #286fff;
}
.info-user .data-user .prev {
    color: #999;
}
.comments,
.reply {
    margin: 60px 0;
}
.comments .section-header, 
.reply .section-header, 
.category .section-header, 
.posts .section-header,
.tags-soq .section-header {
    text-align: left;
}
.comments .section-header .section-title,
.reply .section-header .section-title, 
.category .section-header .section-title, 
.posts .section-header .section-title,
.tags-soq .section-header .section-title {
    font-size: 24px;
}
.category .section-header .section-title, 
.posts .section-header .section-title,
.tags-soq .section-header .section-title {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.comments .section-header .line,
.reply .section-header .line,
.category .section-header .line,
.posts .section-header .line,
.tags-soq .section-header .line {
    margin: 15px 5px 15px 0;
    width: 50px;
}
.comment-item {
    display: flex;
    padding: 15px 30px;
    border: 0.5px solid rgba(153, 153, 153, 0.3);
    transition: border 0.5s;
    margin-bottom: 20px;
    margin-left: 20px;
}
.comment-item .img-comment {
    width: 35%;
}
.comment-item .img-comment img {
    width: 80%;
}
.comment-item .comment .contact-user {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.comment-item .comment .contact-user .left-data {
    display: flex;
    align-items: end;
    width: 60%;
}
.comment-item .comment .contact-user .left-data h3 {
    text-transform: uppercase;
    font-size: 22px;
    color: var(--black-text);
    margin-right: 15px;
}
.comment-item .comment .contact-user .left-data span {
    text-transform: uppercase;
    font-size: 14px;
    color: #999;
}
.comment-item .comment .contact-user a {
    text-transform: uppercase;
    color: #6195ff;
}
.comment-item .comment .prev {
    color: #999;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0;
}
.comment-item:hover {
    border: 1.5px solid #6195ff;
}
.comment-item:hover .comment .contact-user .left-data h3 {
    color: #286fff;
}
.reply form input,
.reply textarea {
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 0;
    outline: 0;
    border-radius: 0;
    background-color: rgba(153, 153, 153, 0.253);
    font-size: 16px;
}
.reply form input {
    width: 48%;
    margin-right: 5px;
}
.reply textarea {
    display: block;
    width: 97%;
    resize: none;
}
.reply form input[type="submit"] {
    width: 150px;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    background-color: #6195ff;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 15px;
}
.reply form input:not([type="submit"]):focus,
.reply form textarea:focus {
    border: 1px solid #286fff;
}
aside {
    padding-left: 30px;
}
aside .search {
    position: relative;
    height: 40px;
    margin-bottom: 50px;
}
aside .search input {
    width: 100%;
    padding: 11px 20px;
    outline: 0;
    border: 0;
    background-color: rgba(153, 153, 153, 0.253);
}
aside .search input:focus {
    border: 1px solid #6195ff;
}
aside .search i {
    position: absolute;
    right: 10px;
    line-height: 40px;
    color: #6195ff;
    cursor: pointer;
}
aside .category-list {
    list-style: none;
    margin-bottom: 70px;
}
aside .category-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    margin-top: 10px;
    border-bottom: 1px solid #999;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    color: var(--black-text);
    cursor: pointer;
}
aside .category-list li .category-num {
    color: #6195ff;
}
aside .category-list li:hover .category-title {
    color: #6195ff;
}
aside .posts .posts-items .post-item {
    display: flex;
    margin: 35px 0 35px 10px;
    cursor: pointer;
}
aside .posts .posts-items .post-item .post-img {
    width: 30%;
    margin-right: 10px;
    overflow: hidden;
}
aside .posts .posts-items .post-item .post-img img {
    width: 100%;
    transition: transform 1s;
}
aside .posts .posts-items .post-item:hover .post-img img {
    transform: scale(1.2) rotate(5deg);
}
aside .posts .posts-items .post-item .post-text h4 {
    text-transform: capitalize;
    color: var(--black-text);
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
}
aside .posts .posts-items .post-item .post-text span {
    text-transform: capitalize;
    color: #286fff;
    font-size: 13px;
}
aside .posts .posts-items .post-item .post-text h4:hover {
    color: #6195ff;
}
aside .tags-soq .tag-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-bottom: 50px;
}
aside .tags-soq .tag-list li a {
    margin: 5px;
    display: inline-block;
    padding: 10px 15px;
    background-color: rgba(153, 153, 153, 0.253);
    text-transform: capitalize;
    color: var(--black-text);
}
aside .tags-soq .tag-list li a:hover {
    background-color: #6195ff;
    color: var(--white-text);
}




/* Contact Section */
.contact {
    padding: 60px 0;
}
.contact-icon {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.contact-icon li {
    display: inline-block;
    width: 30%;
    text-align: center;

}
.contact-icon li i {
    display: block;
    color: #286fff;
    font-size: 30px;
}
.contact-icon li span {
    display: block;
    margin: 15px 0;
}
.contact-icon li .title {
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--black-text);
}
.contact-icon li .desc {
    color: #999;
    font-family: serif;
    font-size: 17px;
}
.contact form {
    margin: 70px 200px;
}
.contact form input,
.contact form textarea {
    resize: none;
    padding: 7px 10px;
    font-size: 15px;
    background-color: rgba(153, 153, 153, 0.253);
    border: 0;
}
.contact form [placeholder="Subject"],
.contact form [placeholder="Message"] {
    display: block;
    width: 99%;
    margin: 10px 0;

}
.contact form input:first-child,
.contact form input:nth-child(2) {
    width: 49%;
    margin: 0 1px;
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
    border: 2px solid #286fff;
    outline: 0;
}
.contact form input:last-child {
    font-size: 20px;
    margin: 30px auto;
    display: block;
    background-color: #6195ff;
    color: #fff;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 3px;
}


/* Footer Section */
footer {
    background-color: #1c1d23;
    text-align: center;
    padding: 60px 0;
}
.footer-links {
    list-style: none;
    margin: 20px 0;
}
.footer-links li {
    display: inline-block;
}
.footer-links li a {
    display: block;
    height: 50px;
    width: 50px;
    background-color: #6195ff;
    color: #fff;
    margin: 3px;
    border-radius: 5px;
}
.footer-links li a i {
    line-height: 50px;
    font-size: 22px;
}
footer p {
    margin-top: 10px;
    color: #999;
    font-size: 15px;
    text-transform: uppercase;
}
footer p span {
    color: #286fff;
    cursor: pointer;
}


/* Media */
@media screen and (max-width: 925px) {
    .header.sticky {
        background-color: var(--white-bg-mob);
    }
    .header.sticky .logo {
        padding: 10px 0;
    }
    nav {
        width: 250px;
        background-color: var(--white-bg-mob);
        position:absolute;
        right: 0;
        height: 100vh;
        transform: translatex(250px);
        transition: 0.7s;
    }
    .dropdown-meun {
        left: -25px;
        top: 70%;
    }
    .header .nav, .header.sticky .nav {
        height: 100%;
        width: 100%;
        position: absolute;
        list-style: none;
        text-align: center;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header .nav  > li > a {
        color: #000;
        padding: 25px;
    }
    .dark .header .nav  > li > a {
        color: #fff;
    }
    .header.sticky .nav > li > a {
        padding: 25px;
    }
    input[id="check"] {
        visibility: hidden;
        display: none;
    }
    label[for="check"] {
        display: block;
    }
    .header .container label span {
        position: absolute;
        right: 0;
        top: 10px;
        font-size: 25px;
        color: #fff;
        padding: 3px 8px;
        background-color: #888;
        cursor: pointer;
        transform: translateX(-250px);
        border-radius: 3px;
    }
    .header.sticky .container label span{
        top: 10px;
    }
    #check:checked ~ .header .container nav {
        transform: translatex(0);
    }
    #check:checked ~ .header .container nav label #bars {
        display: none;
    }
    .contact form {
        margin: 70px 0;
    }
    .comment-item .img-comment {
        width: 50%;
    }
}
@media screen and (max-width: 800px) {
    .home .btn {
        display: block;
        margin: 15px auto;
    }
    
    .header.sticky .container label span{
        top: 5px;
    }
    .about .container .about-content,
    .portfolio .container .portfolio-content,
    .offer .container .offer-content,
    .services .container .services-content,
    .prices-plan,
    .testimonial-content .container,
    .team .container .team-content,
    .blog-content,
    .page-title .page-content .container,
    .content .container {
        display: flex;
        float: none;
        flex-direction: column;
        align-items: center;
    }
    .about .container .about-content .about-item,
    .portfolio .container .portfolio-content .portfolio-item,
    .offer .container .offer-content .offer-item,
    .services .container .services-content .services-item,
    .pricing-item,
    .testimonial-item,
    .team-item,
    .blog-item {
        width: 100%;
        margin-bottom: 15px;
    }
    .testimonial {
        height: 600px;
    }
    .testimonial-content {
        padding: 50px 0;
    }
    .testimonial-desc {
        padding-left: 80px;
    }
    .page-title .page-content .container {
        align-items: flex-start;
    }
    .page-title .page-content .container h1 {
        margin-bottom: 20px;
    }
    .content .container .left {
        width: 100%;
    }
    .content .container .right {
        width: 100%;
        padding-left: 10px;
    }
    .comment-item .img-comment {
        width: 35%;
    }
    .reply form input:not([type="submit"]),
    .reply form textarea {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .header.sticky .container label span{
        top: 2px;
    }
    .contact form input:first-child,
    .contact form input:nth-child(2) {
        display: block;
        width: 99%;
        margin: 10px 0;
    }
    .comment-item .img-comment {
        width: 100%;
    }
    .comment-item .comment .contact-user .left-data {
        flex-direction: column;
        align-items: start;
    }
}
@media screen and (max-width: 500px) {
    .numbers {
        height: 650px;
    }
    .numbers .numbers-items,
    .contact-icon {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
    }
    .number-item,
    .contact-icon li {
        margin: 20px 0;
        width: 100%;
        float: none;
    }
    .testimonial {
        height: 750px;
    }

}
